In [3]:
import gensim
import pandas as pd

In [2]:
%%time
model = gensim.models.KeyedVectors.load_word2vec_format('data/GoogleNews-vectors-negative300.bin', binary=True)

CPU times: user 42.3 s, sys: 5.79 s, total: 48 s
Wall time: 1min 39s

In [4]:
df = pd.read_csv('data/wordsim/combined.csv')
df.shape

(353, 3)

In [6]:
similarities = []
for w1, w2 in zip(df['Word 1'], df['Word 2']):
    similarities.append(model.similarity(w1, w2))

In [10]:
df['w2v'] = similarities
df['pair'] = [f'{w1}_{w2}' for w1, w2 in zip(df['Word 1'], df['Word 2'])]

In [11]:
df

           Word 1    Word 2  Human (mean)       w2v                  pair
0            love       sex          6.77  0.263938              love_sex
1           tiger       cat          7.35  0.517296             tiger_cat
2           tiger     tiger         10.00  1.000000           tiger_tiger
3            book     paper          7.46  0.363463            book_paper
4        computer  keyboard          7.62  0.396392     computer_keyboard
..            ...       ...           ...       ...                   ...
348        shower     flood          6.03  0.129479          shower_flood
349       weather  forecast          8.34  0.362721      weather_forecast
350      disaster      area          6.25  0.145228         disaster_area
351      governor    office          6.34  0.296636       governor_office
352  architecture   century          3.78  0.143093  architecture_century

[353 rows x 5 columns]

In [46]:
tmp_df = df
# tmp_df.drop(['Word 1', 'Word 2', 'pair'], inplace=True)
tmp_df.sort_values(by='Human (mean)', ascending=False, inplace=True)
tmp_df.reset_index(drop=True, inplace=True)
tmp_df.reset_index(inplace=True)
tmp_df.rename(columns={'index': 'human_rank'}, inplace=True)
tmp_df.sort_values(by='w2v', ascending=False, inplace=True)
tmp_df.reset_index(drop=True, inplace=True)
tmp_df.reset_index(inplace=True)
tmp_df.rename(columns={'index': 'w2v_rank'}, inplace=True)
tmp_df = tmp_df[['human_rank', 'w2v_rank']]
tmp_df.shape

(353, 2)

In [50]:
d = [row.human_rank - row.w2v_rank for row in tmp_df.itertuples()]
n = tmp_df.shape[0]

In [51]:
r = 1 - 6*sum(map(lambda d_i: d_i**2, d)) / (n*(n**2-1))

In [52]:
r

0.6998555742763982