In [1]:
import gensim

In [2]:
%%time
model = gensim.models.KeyedVectors.load_word2vec_format('data/GoogleNews-vectors-negative300.bin', binary=True)

CPU times: user 43 s, sys: 5.68 s, total: 48.7 s
Wall time: 1min 27s

In [5]:
filename = 'data/questions-words.txt'
countries = set()
with open(filename, 'rt') as f:
    for line in f:
        words = line.strip()
        if words.startswith(':'):
            if len(countries) > 0:
                break
        else:
            countries.add(words.split()[1])
print(len(countries))

23

In [7]:
countries

{'Afghanistan',
 'Australia',
 'Canada',
 'China',
 'Cuba',
 'Egypt',
 'England',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Iran',
 'Iraq',
 'Italy',
 'Japan',
 'Norway',
 'Pakistan',
 'Russia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Thailand',
 'Vietnam'}

In [9]:
vectors = [model.wv[country] for country in countries]

In [10]:
from sklearn.cluster import KMeans

In [12]:
kmeans_model = KMeans(n_clusters=5)

In [13]:
kmeans_model.fit(vectors)

KMeans(n_clusters=5)

In [17]:
import pandas as pd
df = pd.DataFrame(
    [[label, country] for label, country in zip(kmeans_model.labels_, countries)],
    columns=['label', 'country']
).sort_values('label')

In [18]:
df

    label      country
6       0         Cuba
20      1       Greece
19      1        China
4       1       Russia
5       1    Australia
13      1      Vietnam
21      1        Japan
10      1     Thailand
0       2  Switzerland
18      2        Italy
12      2       France
11      2        Egypt
8       2        Spain
7       2       Canada
3       2      England
22      2      Germany
14      3         Iraq
15      3     Pakistan
2       3         Iran
1       3  Afghanistan
16      4      Finland
17      4       Norway
9       4       Sweden